.App {
  font-family: sans-serif;
  /* text-align: center; */
}
p {
  border: 20px solid rgb(105, 104, 104, o.7);
}
.replyBox {
  margin-left: 40px;
}
.replyText {
  margin-left: 40px;
}
span {
  padding: 5px;
  cursor: pointer;
  /* color: blue; */
}
.comment {
  border: 2px solid #add8e6;
  padding: 5px;
  border-radius: 10px;
  min-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.commentBox {
  /* border: 2px solid rgb(196, 193, 193); */
  border-radius: 10px 20px;
  box-shadow: 2px solid black;
}
.comment_button {
  display: flex;
  justify-content: left;
  /* padding: 2px;
  margin: 5px; */
}
.comment_style {
  margin: 40px;
  border: 20px solid rgb(105, 104, 104, o.7);
}
